@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #06474C;
}

h2 {
    color: #eeeeee;
    font-weight: 600;
    text-shadow: #06474C 1.5px 1.5px;
}

.col, .container-fluid {
    padding: 0;
    margin: 0;
    text-align: center;
}

.row {
    padding: 0;
    margin: 10px 0px;
    text-align: center;
}

section, .container-fluid {
    border: black solid 2px;
}


/* Components */
.nav-btn {
    font-family: 'Fredoka One', cursive;
    font-size: 1.75em;

    text-align: center;
    align-content: center;
    width: 150px;
    height: 65px;
	margin: 2px 4px;
	border-radius: 35px;
}

.nav-btn-red {
    color: #eeeeee;
	background-color: #e63b2e;
    border: #eeeeee 4px solid;
}

.nav-btn-white {
    color: #e63b2e;
	background-color: #eeeeee;
    border: #e63b2e 4px solid;
}

.nav-btn-sm {
    font-size: 1em;

    width: 100px;
	height: 50px;
	border-radius: 25px;
}

.icon {
	width: 50px;
	height: 50px;
	padding: 4px 0;
	border-radius: 50%;
	border: solid 4px #eeeeee;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.icon:hover {
	color: #e63b2e;
	background-color: #eeeeee;
}


/* Navbar and footer */
nav,
footer {
	font-family: 'Fredoka One', cursive;
	font-size: 1.25em;
	background-color: #e63b2e;
	color: #eeeeee;
}

nav {
	border-bottom: solid 4px #eeeeee;
}

footer {
	border-top: solid 4px #eeeeee;
}

.navbar,
.row-footer {
	padding: 5px 10px;
}

.navbar {
	text-align: right;
}

.row-footer {
	text-align: center;
}

#logo-nav {
	height: 60px;
}

#logo-footer {
	width: 200px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link {
	color: #eeeeee!important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active {
	text-decoration: underline;
}

.nav-link {
	margin-top: 5px;
	display: inline-block;
}

.navbar-light .navbar-toggler {
    border: #eeeeee 4px solid;
    border-radius: 10px;
}

.navbar-light .navbar-toggler:focus {
	outline: none;
}

#navbar-custom-icon {
	font-size: 1.5em;
	color: #eeeeee;
}

.navbar-collapse {
	border-top: #eeeeee 4px solid;
}


/* Body */
.filler-top {
	height: 84px;
}

.container-hero {
    height: 80vh;
    padding: 0;
    overflow: hidden;

    position: relative;
}

.hero-image {
    height: 100%;
    width: 100%;

    background: url("https://images.unsplash.com/photo-1481931098730-318b6f776db0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=637&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-image-overlay {
    height: 100%;
    width: 100%;

    background-color: rgba(50, 50, 50, 0.25);

    bottom: 0px;
    right: 0px;

    position: absolute;
}

/* Media queries */
@media (min-width: 768px) {
	.navbar-collapse {
		border-top: none;
	}
}