@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    color: #06474C;
}

.row, .col, .container-fluid {
    padding: 0;
    margin: 0;
    text-align: center;
}

section, .container-fluid {
    border: black solid 2px;
}


/* Components */
.nav-btn {
    font-family: 'Fredoka One', cursive;
	background-color: #e63b2e;
	color: #eeeeee;
    
    width: 100px;
	height: 50px;
	border: #eeeeee 4px solid;
	text-align: center;
	margin: 2px 4px;
	border-radius: 25px;
}

.nav-btn-lg {

}

.icon {
	width: 50px;
	height: 50px;
	padding: 4px 0;
	border-radius: 50%;
	border: solid 4px #eeeeee;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.icon:hover {
	color: #e63b2e;
	background-color: #eeeeee;
}


/* Navbar and footer */
nav,
footer {
	font-family: 'Fredoka One', cursive;
	font-size: 1.25em;
	background-color: #e63b2e;
	color: #eeeeee;
}

nav {
	border-bottom: solid 4px #eeeeee;
}

footer {
	border-top: solid 4px #eeeeee;
}

.navbar,
.row-footer {
	padding: 5px 10px;
}

.navbar {
	text-align: right;
}

.row-footer {
	text-align: center;
}

#logo-nav {
	height: 60px;
}

#logo-footer {
	width: 200px;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active>.nav-link {
	color: #eeeeee!important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active {
	text-decoration: underline;
}

.nav-link {
	margin-top: 5px;
	display: inline-block;
}

.navbar-light .navbar-toggler {
    border: #eeeeee 4px solid;
    border-radius: 10px;
}

.navbar-light .navbar-toggler:focus {
	outline: none;
}

#navbar-custom-icon {
	font-size: 1.5em;
	color: #eeeeee;
}

.navbar-collapse {
	border-top: #eeeeee 4px solid;
}


/* Body */
.filler-top {
	height: 84px;
}

.container-hero {
    height: 80vh;
    padding: 0;
    overflow: hidden;

    position: relative;
}

.hero-image {
    height: 100%;
    width: 100%;
}

.hero-image-overlay {
    height: 100%;
    width: 100%;

    background-color: rgba(50, 50, 50, 0.25);

    bottom: 0px;
    right: 0px;

    position: absolute;
}

/* Media queries */
@media (min-width: 768px) {
	.navbar-collapse {
		border-top: none;
	}
}