#hero-image-overlay-home, #hero-image-overlay-login, #hero-image-overlay-signup {
    position: absolute;

    top: 2.5vh;

    width: 100%;
}

#logo-home, #logo-login, #logo-signup {
    width: 200px;
}