{% set active_page = 'add-recipe' %}
{% extends "base.html" %}
{% block content %}
<!-- Add Recipes title -->
<header class="container-fluid p-2">
   <div class="row m-0">
      <div class="col"></div>
      <div class="col-6 col-md-4 col-lg-2">
         <hr>
      </div>
      <div class="col"></div>
   </div>
   <div class="row m-0">
      <div class="col">
         <h1 class="uppercase">Add Recipes</h1>
      </div>
   </div>
   <div class="row m-0">
      <div class="col"></div>
      <div class="col-6 col-md-4 col-lg-2">
         <hr>
      </div>
      <div class="col"></div>
   </div>
</header>
<!-- Add Recipe form -->
<section class="container-fluid">
   <div class="container-compress-extra">
      <form method="POST" action="{{ url_for('addRecipe') }}">
         <!-- Recipe name -->
         <div class="form-row mt-0">
            <div class="col"></div>
            <div class="col-11">
               <input type="text" class="form-control" name="recipe_name" id="recipe_name" placeholder="Recipe Name" minlength="5" maxlength="75" pattern="[a-zA-Z ]{5,75}" required 
                  oninvalid="this.setCustomValidity('Recipe Name should be between 5 and 75 characters long with no special characters.')"
                  oninput="this.setCustomValidity('')">
               <label for="recipe_name" class="sr-only">Recipe name</label>
            </div>
            <div class="col"></div>
         </div>
         <!-- Is/isn't favourite recipe on/off switch - component taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch -->
         <div class="form-row">
            <div class="col">
               <div class="d-inline middle">
                  <label class="switch" for="is_fav">
                  <input type="checkbox" name="is_fav" id="is_fav">
                  <span class="on-off round"></span>
                  </label>
               </div>
               <h4 class="d-inline px-2 middle">Favourite Recipe</h4>
            </div>
         </div>
         <!-- Serving portions slider - component taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
         <div class="form-row m-0">
            <div class="col"></div>
            <!-- Slider value from app.js -->
            <div class="col-11 col-md-9 col-xl-8 text-left">
               <h4>Serves: <span id="serves-value"></span></h4>
            </div>
            <div class="col"></div>
         </div>
         <div class="form-row">
            <div class="col"></div>
            <div class="col-11 col-md-9 col-xl-8">
               <div class="slidecontainer">
                  <input type="range" min="1" max="8" value="4" class="slider" name="serves" id="serves">
                  <label for="serves" class="sr-only">Serves</label>
               </div>
            </div>
            <div class="col"></div>
         </div>
         <!-- Cooking time slider - component taken from https://www.w3schools.com/howto/howto_js_rangeslider.asp -->
         <div class="form-row m-0">
            <div class="col"></div>
            <!-- Slider value from app.js -->
            <div class="col-11 col-md-9 col-xl-8 text-left">
               <h4>Cook Time: <span id="cooktime-value"></span> mins</h4>
            </div>
            <div class="col"></div>
         </div>
         <div class="form-row">
            <div class="col"></div>
            <div class="col-11 col-md-9 col-xl-8">
               <div class="slidecontainer">
                  <input type="range" min="5" max="120" value="30" step="5" class="slider" name="cooktime" id="cooktime">
                  <label for="cooktime" class="sr-only">Cooking Time</label>
               </div>
            </div>
            <div class="col"></div>
         </div>
         <!-- Image URL -->
         <div class="form-row mt-0">
            <div class="col"></div>
            <div class="col-11">
               <input type="url" class="form-control" name="image_url" id="image_url" placeholder="Image URL" minlength="5"
                  oninvalid="this.setCustomValidity('Please input a valid URL.')">
               <label for="image_url" class="sr-only">Image URL</label>
            </div>
            <div class="col"></div>
         </div>
         <!-- Ingredients/instructions accordion - component taken from https://getbootstrap.com/docs/4.0/components/collapse/ -->
         <div id="accordion">
            <!-- Ingredients dropdown -->
            <div class="card pb-2">
               <div class="card-header" id="accordion-searchrecipe-ingredients">
                  <button type="button" class="btn btn-link collapsed h3" data-toggle="collapse" data-target="#collapse-searchrecipe-ingredients"
                     aria-expanded="false" aria-controls="collapse-searchrecipe-ingredients">
                  Ingredients <i class="fas fa-angle-down"></i>
                  </button>
               </div>
               <div id="collapse-searchrecipe-ingredients" class="collapse" aria-labelledby="accordion-searchrecipe-ingredients" data-parent="#accordion">
                  <div class="card-body">
                     <div id="ingredients-input">
                        <div class="ingredients-input">
                           <!-- Ingredients name -->
                           <div class="form-row mt-0">
                              <div class="col"></div>
                              <div class="col-11">
                                 <input type="text" class="form-control" name="ingredient_name" id="ingredient_name" placeholder="Ingredients" minlength="3" maxlength="30" pattern="[a-zA-Z ]{3,30}" required
                                    oninvalid="this.setCustomValidity('Ingredient Name should be between 3 and 30 characters long with no special characters.')"
                                    oninput="this.setCustomValidity('')">
                                 <label for="ingredient_name" class="sr-only">Ingredients input</label>
                              </div>
                              <div class="col"></div>
                           </div>
                           <div class="form-row mt-0">
                              <div class="col"></div>
                              <!-- Ingredients quantity -->
                              <div class="col-5">
                                 <input type="number" class="form-control" name="ingredient_quantity" id="ingredient_quantity" placeholder="Quantity" required>
                                 <label for="ingredient_quantity" class="sr-only">Quantity input</label>
                              </div>
                              <!-- Ingredients unit -->
                              <div class="col-6">
                                 <label for="ingredient_unit" class="sr-only">Unit</label>
                                 <select class="form-control" id="ingredient_unit" name="ingredient_unit">
                                    <option label="-" value=""></option>
                                    <option label="g" value="g"></option>
                                    <option label="ml" value="ml"></option>
                                    <option label="tsp" value=" tsp"></option>
                                    <option label="tbsp" value=" tbsp"></option>
                                    <option label="cans" value=" cans"></option>
                                 </select>
                              </div>
                              <div class="col"></div>
                           </div>
                        </div>
                        <div class="form-row" id="add-ingredients-hr-skinny">
                           <div class="col"></div>
                           <div class="col-10">
                              <hr class="hr-skinny">
                           </div>
                           <div class="col"></div>
                        </div>
                     </div>
                     <!-- Add/remove ingredient buttons -->
                     <div class="form-row icon-row-input" id="icon-row-add-ingredients">
                        <div class="col">
                           <div class="icon icon-blue" id="add-ingredient">
                              <i class="fas fa-plus"></i>
                           </div>
                           <div class="icon icon-blue hidden" id="delete-ingredient">
                              <i class="fas fa-trash-alt"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Instructions dropdown -->
            <div class="card pb-2">
               <div class="card-header" id="accordion-searchrecipe-filters">
                  <button type="button" class="btn btn-link h3" data-toggle="collapse" data-target="#collapse-searchrecipe-filters"
                     aria-expanded="true" aria-controls="collapse-searchrecipe-filters">
                  Instructions <i class="fas fa-angle-down"></i>
                  </button>
               </div>
               <div id="collapse-searchrecipe-filters" class="collapse" aria-labelledby="accordion-searchrecipe-filters" data-parent="#accordion">
                  <div class="card-body">
                     <!-- Instructions input -->
                     <div class="form-row m-0">
                        <div class="col">
                           <ol class="mb-1 small-text" id="instructions-input">
                              <li class="mb-1 instructions-input">
                                 <input type="text" class="form-control" id="instructions" name="instructions" placeholder="Instructions" minlength="5" maxlength="150" required
                                    oninvalid="this.setCustomValidity('Instructions should be between 5 and 150 characters long.')"
                                    oninput="this.setCustomValidity('')">
                                 <label for="instructions" class="sr-only">Instructions</label>
                              </li>
                              <li class="form-row" id="add-instructions-hr-skinny">
                                 <div class="col"></div>
                                 <div class="col-10">
                                    <hr class="hr-skinny">
                                 </div>
                                 <div class="col"></div>
                              </li>
                           </ol>
                        </div>
                     </div>
                     <!-- Add/remove instructions buttons -->
                     <div class="form-row icon-row-input m-0">
                        <div class="col">
                           <div class="icon icon-blue" id="add-instruction">
                              <i class="fas fa-plus"></i>
                           </div>
                           <div class="icon icon-blue hidden" id="delete-instruction">
                              <i class="fas fa-trash-alt"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Recipe tips -->
         <div class="form-row">
            <div class="col"></div>
            <div class="col-11">
               <input type="text" class="form-control" name="tips" id="tips" placeholder="Any top tips?" minlength="5" maxlength="200"
                  oninvalid="this.setCustomValidity('Top tips should be between 5 and 200 characters long.')"
                  oninput="this.setCustomValidity('')">
               <label for="tips" class="sr-only">Top tips</label>
            </div>
            <div class="col"></div>
         </div>
         <!-- Recipe source -->
         <div class="form-row mt-0">
            <div class="col"></div>
            <div class="col-11">
               <input type="text" class="form-control" name="source" id="source" placeholder="Where's your recipe from?" minlength="5" maxlength="50"
                  oninvalid="this.setCustomValidity('Source should be between 5 and 50 characters long.')"
                  oninput="this.setCustomValidity('')">
               <label for="source" class="sr-only">Source</label>
            </div>
            <div class="col"></div>
         </div>
         <!-- Add recipe button -->
         <div class="form-row mb-0 pb-3">
            <div class="col col-lg-6 mx-auto">
               <button class="nav-item nav-btn nav-btn-blue nav-btn-long" type="submit">
               Add Recipe
               </button>
            </div>
         </div>
      </form>
   </div>
</section>
<!-- Ingredients input template for addRecipe.js -->
<template id="ingredients-input-template">
   <div class="ingredients-input">
      <div class="form-row">
         <div class="col"></div>
         <div class="col-10">
            <hr class="hr-skinny">
         </div>
         <div class="col"></div>
      </div>
      <div class="form-row mt-0">
         <div class="col"></div>
         <div class="col-11">
            <input type="text" class="form-control" name="ingredient_name" id="ingredient_name_template" placeholder="Ingredients" minlength="3" maxlength="30" pattern="[a-zA-Z ]{3,30}" required
               oninvalid="this.setCustomValidity('Ingredient Name should be between 3 and 30 characters long with no special characters.')"
               oninput="this.setCustomValidity('')">
            <label id="ingredient_name_template_label" for="ingredient_name" class="sr-only">Ingredients</label>
         </div>
         <div class="col"></div>
      </div>
      <div class="form-row mt-0">
         <div class="col"></div>
         <div class="col-5">
            <input type="number" class="form-control" name="ingredient_quantity" id="ingredient_quantity_template" placeholder="Quantity" required>
            <label for="ingredient_quantity" id="ingredient_quantity_template_label" class="sr-only">Quantity</label>
         </div>
         <div class="col-6">
            <label for="ingredient_unit" class="sr-only" id="ingredient_unit_template_label">Unit</label>
            <select class="form-control" name="ingredient_unit" id="ingredient_unit_template">
               <option label="-" value=""></option>
               <option label="g" value="g"></option>
               <option label="ml" value="ml"></option>
               <option label="tsp" value=" tsp"></option>
               <option label="tbsp" value=" tbsp"></option>
               <option label="cans" value=" cans"></option>
            </select>
         </div>
         <div class="col"></div>
      </div>
   </div>
</template>
<!-- Instructions input template for addRecipe.js  -->
<template id="instructions-input-template">
   <li class="mb-1 instructions-input">
      <input type="text" class="form-control" name="instructions" id="instructions_template" placeholder="Instructions" minlength="5" maxlength="150" required
         oninvalid="this.setCustomValidity('Instructions should be between 5 and 150 characters long.')"
         oninput="this.setCustomValidity('')">
      <label for="instructions" class="sr-only" id="instructions_template_label">Instructions</label>
   </li>
</template>
{% endblock %}
