{% set active_page = 'addRecipe' %}
{% extends "base.html" %}
{% block content %}
<!-- Header - Add recipes title -->
<header class="container-fluid p-2">
   <div class="row m-0">
      <div class="col"></div>
      <div class="col-8">
         <hr>
      </div>
      <div class="col"></div>
   </div>
   <div class="row m-0">
      <div class="col">
         <h1 class="uppercase">Add Recipes</h1>
      </div>
   </div>
   <div class="row m-0">
      <div class="col"></div>
      <div class="col-8">
         <hr>
      </div>
      <div class="col"></div>
   </div>
</header>
<!-- Add recipe form -->
<section class="container-fluid">
   <form method="POST" action="">
       <!-- Recipe name -->
      <div class="form-row mt-0">
         <div class="col"></div>
         <div class="col-11">
            <input type="text" class="form-control" name="recipe_name" id="recipe_name" placeholder="Recipe Name" minlength="5" maxlength="75" required>
            <label for="recipe_name" class="sr-only">Recipe name</label>
         </div>
         <div class="col"></div>
      </div>
      <!-- Is/isn't favourite recipe on/off switch -->
      <div class="form-row">
         <div class="col"></div>
         <div class="col-3">
            <label class="switch" for="is_favourite">
            <input type="checkbox" name="is_favourite" id="is_favourite" checked>
            <span class="on-off round"></span>
            </label>
         </div>
         <div class="col-8 text-left">
            <h4 class="mt-2">Favourite Recipe</h4>
         </div>
         <div class="col"></div>
      </div>
      <!-- Serving portions slider -->
      <div class="form-row m-0">
         <div class="col"></div>
         <div class="col-11 text-left">
            <h4>Serves: <span id="serves-value"></span></h4>
         </div>
         <div class="col"></div>
      </div>
      <div class="form-row">
         <div class="col"></div>
         <div class="col-11">
            <div class="slidecontainer">
               <input type="range" min="1" max="8" value="4" class="slider" name="serves" id="serves">
               <label for="serves" class="sr-only">Serves</label>
            </div>
         </div>
         <div class="col"></div>
      </div>
      <!-- Cooking time slider -->
      <div class="form-row m-0">
         <div class="col"></div>
         <div class="col-11 text-left">
            <h4>Cook Time: <span id="cooktime-value"></span> mins</h4>
         </div>
         <div class="col"></div>
      </div>
      <div class="form-row">
         <div class="col"></div>
         <div class="col-11">
            <div class="slidecontainer">
               <input type="range" min="5" max="120" value="30" step="5" class="slider" name="cooktime" id="cooktime">
               <label for="cooktime" class="sr-only">Cook Time</label>
            </div>
         </div>
         <div class="col"></div>
      </div>
      <!-- Image URL -->
      <div class="form-row mt-0">
         <div class="col"></div>
         <div class="col-11">
            <input type="text" class="form-control" name="image_url" id="image_url" placeholder="Image URL" minlength="5" maxlength="150">
            <label for="image_url" class="sr-only">Image URL</label>
         </div>
         <div class="col"></div>
      </div>
      <!-- Ingredients/instructions accordion -->
      <div id="accordion">
          <!-- Ingredients dropdown -->
         <div class="card pb-2">
            <div class="card-header" id="accordion-searchrecipe-ingredients">
               <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-searchrecipe-ingredients" aria-expanded="false" aria-controls="collapse-searchrecipe-ingredients">
                  <h3>Ingredients <i class="fas fa-angle-down"></i></h3>
               </button>
            </div>
            <div id="collapse-searchrecipe-ingredients" class="collapse" aria-labelledby="accordion-searchrecipe-ingredients" data-parent="#accordion">
                <div class="card-body">
                  <div id="ingredients-input">
                      <!-- Ingredients name -->
                     <div class="form-row mt-0">
                        <div class="col"></div>
                        <div class="col-11">
                           <input type="text" class="form-control" name="ingredient_name" placeholder="Ingredients" minlength="3" maxlength="50" required>
                           <label for="ingredient_name" class="sr-only">Ingredients</label>
                        </div>
                        <div class="col"></div>
                     </div>
                     <div class="form-row mt-0">
                        <div class="col"></div>
                        <!-- Ingredients quantity -->
                        <div class="col-4">
                           <input type="number" class="form-control" name="ingredient_quantity" placeholder="Quantity" required>
                           <label for="ingredient_quantity" class="sr-only">Quantity</label>
                        </div>
                        <!-- Ingredients unit -->
                        <div class="col-7">
                           <label for="ingredient_unit" class="sr-only">Unit</label>
                           <select class="form-control" name="ingredient_unit">
                              <option value=""></option>
                              <option value="g">g</option>
                              <option value="ml">ml</option>
                              <option value="tsp"> tsp</option>
                              <option value="tbsp"> Tbsp</option>
                              <option value="can"> cans</option>
                           </select>
                        </div>
                        <div class="col"></div>
                     </div>
                     <div class="form-row">
                        <div class="col"></div>
                        <div class="col-10">
                           <hr class="hr-skinny">
                        </div>
                        <div class="col"></div>
                     </div>
                  </div>
                  <!-- Add/remove ingredient buttons -->
                  <div class="form-row icon-row" id="icon-row-add-ingredients">
                     <div class="col">
                        <div class="icon icon-blue" id="add-ingredient">
                           <i class="fas fa-plus"></i>
                        </div>
                        <div class="icon icon-blue hidden" id="delete-ingredient">
                           <i class="fas fa-trash-alt"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Instructions dropdown -->
         <div class="card pb-2">
            <div class="card-header" id="accordion-searchrecipe-filters">
               <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse-searchrecipe-filters" aria-expanded="true" aria-controls="collapse-searchrecipe-filters">
                  <h3>Instructions <i class="fas fa-angle-down"></i></h3>
               </button>
            </div>
            <div id="collapse-searchrecipe-filters" class="collapse" aria-labelledby="accordion-searchrecipe-filters" data-parent="#accordion">
               <div class="card-body">
                   <!-- Instructions input -->
                  <div class="form-row m-0">
                     <div class="col">
                        <ol class="mb-1 small-text" id="instructions-input">
                           <div>
                              <li class="mb-1">
                                 <input type="textarea" class="form-control" name="instructions" placeholder="Instructions" minlength="5" maxlength="150" required>
                                 <label for="instructions" class="sr-only">Instructions</label>
                              </li>
                           </div>
                           <div class="form-row" id="add-instructions-hr-skinny">
                              <div class="col"></div>
                              <div class="col-10">
                                 <hr class="hr-skinny">
                              </div>
                              <div class="col"></div>
                           </div>
                        </ol>
                     </div>
                  </div>
                  <!-- Add/remove instructions buttons -->
                  <div class="form-row icon-row">
                     <div class="col">
                        <div class="icon icon-blue" id="add-instruction">
                           <i class="fas fa-plus"></i>
                        </div>
                        <div class="icon icon-blue hidden" id="delete-instruction">
                           <i class="fas fa-trash-alt"></i>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Recipe tips -->
      <div class="form-row">
         <div class="col"></div>
         <div class="col-11">
            <input type="textarea" class="form-control" name="tips" id="tips" placeholder="Any top tips?" minlength="5" maxlength="200">
            <label for="tips" class="sr-only">Top tips</label>
         </div>
         <div class="col"></div>
      </div>
      <!-- Recipe source -->
      <div class="form-row mt-0">
         <div class="col"></div>
         <div class="col-11">
            <input type="text" class="form-control" name="source" id="source" placeholder="Where's your recipe from?" minlength="5" maxlength="50">
            <label for="source" class="sr-only">Source</label>
         </div>
         <div class="col"></div>
      </div>
      <!-- Add recipe button -->
      <div class="form-row mb-0 pb-3">
         <div class="col">
            <button class="nav-item nav-btn nav-btn-blue nav-btn-long" type="submit" href="#">
            Add Recipe
            </button>
         </div>
      </div>
   </form>
</section>
<!-- Ingredients input template -->
<template id="ingredients-input-template">
   <div class="form-row mt-0">
      <div class="col"></div>
      <div class="col-11">
         <input type="text" class="form-control" name="ingredient_name" placeholder="Ingredients" minlength="3" maxlength="50" required>
         <label for="ingredient_name" class="sr-only">Ingredients</label>
      </div>
      <div class="col"></div>
   </div>
   <div class="form-row mt-0">
      <div class="col"></div>
      <div class="col-4">
         <input type="number" class="form-control" name="ingredient_quantity" placeholder="Quantity" required>
         <label for="ingredient_quantity" class="sr-only">Quantity</label>
      </div>
      <div class="col-7">
         <label for="ingredient_unit" class="sr-only">Unit</label>
         <select class="form-control" name="ingredient_unit">
            <option value=""></option>
            <option value="g">g</option>
            <option value="ml">ml</option>
            <option value="tsp"> tsp</option>
            <option value="tbsp"> Tbsp</option>
            <option value="can"> cans</option>
         </select>
      </div>
      <div class="col"></div>
   </div>
   <div class="form-row">
      <div class="col"></div>
      <div class="col-10">
         <hr class="hr-skinny">
      </div>
      <div class="col"></div>
   </div>
</template>
<!-- Instructions input template -->
<template id="instructions-input-template">
   <div>
      <li class="mb-1">
         <input type="textarea" class="form-control" name="instructions" placeholder="Instructions" minlength="5" maxlength="150" required>
         <label for="instructions" class="sr-only">Instructions</label>
      </li>
   </div>
</template>
{% endblock %}
