{% extends "base.html" %}
{% block content %}
    <section class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Recipe name</h2><br>
                <h2>Fav recipe toggle</h2><br>
                <h2>Slider - serves</h2><br>
                <h2>Slider - cooking time</h2><br>
                <h2>URL</h2><br>
                <h2>Ingredients +</h2><br>
                <h2>Steps +</h2><br>
                <h2>Source</h2><br>
                <h2>Notes</h2><br>
                <h2>Add recipe</h2><br>
            </div>
        </div>
    </section>
{% endblock %}
