{% set active_page = 'searchRecipe' %}
{% extends "base.html" %}
{% block content %}
<!-- Search Recipe title -->
<header class="container-fluid py-2">
    <div class="row m-0">
        <div class="col"></div>
        <div class="col-8">
            <hr>
        </div>
        <div class="col"></div>
    </div>
    <div class="row m-0">
        <div class="col">
            <h1 class="uppercase">Search Recipes</h1>
        </div>
    </div>
    <div class="row m-0">
        <div class="col"></div>
        <div class="col-8">
            <hr>
        </div>
        <div class="col"></div>
    </div>
</header>
<div class="container-fluid">
    <div class="row m-0">
        <div class="col col-md-5">
            <section class="container-fluid">
                <!-- Recipe search bar -->
                <form action="{{ url_for('search') }}" method="POST">
                    <div class="row m-0 pb-2">
                        <div class="col"></div>
                        <div class="col-11 p-0">
                            <input type="text" class="form-control" name="query" id="query"
                                placeholder="Search for a recipe!" minlength="3">
                            <label for="query" class="sr-only">Search tasks</label>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row m-0 pb-1">
                        <div class="col">
                            <button type="submit" class="icon icon-blue icon-blue-md shadow-box"
                                onclick="searchIngredients()">
                                <i class="fas fa-search"></i>
                            </button>
                            <a href="{{ url_for('searchReset') }}" class="icon icon-blue icon-blue-md shadow-box">
                                <i class="fas fa-redo-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row m-0">
                        <div class="col">
                            <!-- Filters/ingredients accordion - component taken from https://getbootstrap.com/docs/4.0/components/collapse/ -->
                            <div id="accordion">
                                <!-- Ingredients dropdown -->
                                <div class="card">
                                    <div class="card-header" id="accordion-searchrecipe-ingredients">
                                        <button type="button" class="btn btn-link collapsed h3" data-toggle="collapse"
                                            data-target="#collapse-searchrecipe-ingredients" aria-expanded="false"
                                            aria-controls="collapse-searchrecipe-ingredients">
                                            Ingredients <i class="fas fa-angle-down"></i>
                                        </button>
                                    </div>
                                    <div id="collapse-searchrecipe-ingredients" class="collapse show"
                                        aria-labelledby="accordion-searchrecipe-ingredients" data-parent="#accordion">
                                        <div class="card-body" id="ingredients-list">
                                            <!-- Ingredients checkboxes - component taken from https://codepen.io/quinlo/pen/ReMRXz -->
                                            <ul class="ks-cboxtags mb-0 pt-2 pb-2">
                                                {% for ingredient in search_ingredients %}
                                                <li>
                                                    <input type="checkbox" id="{{ingredient}}" value="{{ingredient}}">
                                                    <label class="capital" for="{{ingredient}}">{{ingredient}}</label>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
            <!-- Display all recipes in database and filter depending on user input -->
            <section class="container-fluid d-md-none">
                {% if search_recipes.count() %}
                {% for recipe in search_recipes %}
                <div class="row pt-2">
                    <div class="col"></div>
                    <div class="col-11">
                        <div class="recipe-card">
                            {% if session.user %}
                            <div class="row icon-row">
                                <form method="POST" action="{{ url_for('isMenu', recipe_id=recipe._id) }}"
                                    class="col text-left">
                                    {% if session.user in recipe.is_menu %}
                                    <button type="submit" class="icon icon-blue-selected shadow-box">
                                        <i class="fas fa-utensils"></i>
                                    </button>
                                    {% else %}
                                    <button type="submit" class="icon icon-blue shadow-box">
                                        <i class="fas fa-utensils"></i>
                                    </button>
                                    {% endif %}
                                </form>
                                <!-- If recipe was created by user, showing menu, edit and delete buttons; if it was not, only show menu button -->
                                {% if session.user|lower == recipe.created_by|lower %}
                                <div class="col text-right">
                                    <!-- Edit page -->
                                    <a href="{{ url_for('editRecipe', recipe_id=recipe._id) }}" class="icon icon-blue">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <!-- Button trigger modal - triggers modal to check if user definitely wants to delete recipe -->
                                    <div class="icon icon-blue" id="delete-recipe-open{{loop.index}}"
                                        onclick="openModal()">
                                        <i class="fas fa-trash-alt" id="delete-recipe-open-icon{{loop.index}}"
                                            onclick="openModal()"></i>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal-delete hidden" id="modal-delete{{loop.index}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content text-center">
                                                <div class="modal-body">
                                                    <h5>Are you sure you want to delete <span
                                                            class="capital">{{ recipe.recipe_name }}</span>?</h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <!-- Delete recipe -->
                                                    <a href="{{ url_for('deleteRecipe', recipe_id=recipe._id) }}"
                                                        class="nav-btn nav-btn-blue-dark-nb nav-btn-sm p-1">Yes</a>
                                                    <button type="button" class="nav-btn nav-btn-blue-nb nav-btn-sm"
                                                        id="delete-recipe-close{{loop.index}}"
                                                        onclick="closeModal()">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% endif %}
                            <a class="recipe-card-overlay recipe-card-overlay-hover border-white"
                                href="{{ url_for( 'viewRecipe', recipe_id=recipe._id) }}">
                                {% if recipe.image_url|length == 0 %}
                                <img class="logo-view-thumbnail"
                                    src="{{ url_for('static', filename='images/logo-darkblue.png') }}"
                                    alt="Dark blue Crockpot logo" />
                                {% else %}
                                <img class="recipe-card-image" src="{{ recipe.image_url }}"
                                    alt="{{ recipe.recipe_name }}">
                                {% endif %}
                                <div class="row recipe-card-title">
                                    <h3 class="capital">{{ recipe.recipe_name }}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row pt-2 mb-0 pb-2">
                    <div class="col">
                        <h3 class="mb-1 underline">Sorry, no results!</h3>
                        <div class="row">
                            <div class="col-3">
                                <div class="icon icon-blue icon-blue-md">
                                    <i class="fas fa-redo-alt"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <h4 class="text-left pt-1">Reset your search criteria</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="icon icon-blue icon-blue-md mt-3">
                                    <i class="fab fa-readme"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <h4 class="text-left pt-1">Have a browse through all of our recipes</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="icon icon-blue icon-blue-md mt-3">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <h4 class="text-left pt-1">Or try searching for something else!</h4>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </section>
        </div>




        <div class="d-none d-md-inline-block col-md-7">
            <!-- Display all recipes in database and filter depending on user input -->
            <section class="container-fluid">
                {% if search_recipes.count() %}
                <div class="row pt-2">
                    {% for recipe in search_recipes_md %}
                    <div class="col-lg-6">
                        <div class="recipe-card">
                            {% if session.user %}
                            <div class="row icon-row">
                                <form method="POST" action="{{ url_for('isMenu', recipe_id=recipe._id) }}"
                                    class="col text-left">
                                    {% if session.user in recipe.is_menu %}
                                    <button type="submit" class="icon icon-blue-selected shadow-box">
                                        <i class="fas fa-utensils"></i>
                                    </button>
                                    {% else %}
                                    <button type="submit" class="icon icon-blue shadow-box">
                                        <i class="fas fa-utensils"></i>
                                    </button>
                                    {% endif %}
                                </form>
                                <!-- If recipe was created by user, showing menu, edit and delete buttons; if it was not, only show menu button -->
                                {% if session.user|lower == recipe.created_by|lower %}
                                <div class="col text-right">
                                    <!-- Edit page -->
                                    <a href="{{ url_for('editRecipe', recipe_id=recipe._id) }}" class="icon icon-blue">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <!-- Button trigger modal - triggers modal to check if user definitely wants to delete recipe -->
                                    <div class="icon icon-blue" id="delete-recipe-md-open{{loop.index}}"
                                        onclick="openModalMd()">
                                        <i class="fas fa-trash-alt" id="delete-recipe-md-open-icon{{loop.index}}"
                                            onclick="openModalMd()"></i>
                                    </div>
                                    <!-- Modal -->
                                    <div class="modal-delete hidden" id="modal-delete-md{{loop.index}}">
                                        <div class="modal-dialog">
                                            <div class="modal-content text-center">
                                                <div class="modal-body">
                                                    <h5>Are you sure you want to delete <span
                                                            class="capital">{{ recipe.recipe_name }}</span>?</h5>
                                                </div>
                                                <div class="modal-footer">
                                                    <!-- Delete recipe -->
                                                    <a href="{{ url_for('deleteRecipe', recipe_id=recipe._id) }}"
                                                        class="nav-btn nav-btn-blue-dark-nb nav-btn-sm p-1">Yes</a>
                                                    <button type="button" class="nav-btn nav-btn-blue-nb nav-btn-sm"
                                                        id="delete-recipe-md-close{{loop.index}}"
                                                        onclick="closeModalMd()">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% endif %}
                            <a class="recipe-card-overlay recipe-card-overlay-hover border-white"
                                href="{{ url_for( 'viewRecipe', recipe_id=recipe._id) }}">
                                {% if recipe.image_url|length == 0 %}
                                <img class="logo-view-thumbnail"
                                    src="{{ url_for('static', filename='images/logo-darkblue.png') }}"
                                    alt="Dark blue Crockpot logo" />
                                {% else %}
                                <img class="recipe-card-image" src="{{ recipe.image_url }}"
                                    alt="{{ recipe.recipe_name }}">
                                {% endif %}
                                <div class="row recipe-card-title">
                                    <h3 class="capital">{{ recipe.recipe_name }}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="row pt-2 mb-0 pb-2">
                    <div class="col">
                        <h3 class="mb-1 underline">Sorry, no results!</h3>
                        <div class="row">
                            <div class="col-3">
                                <div class="icon icon-blue icon-blue-md">
                                    <i class="fas fa-redo-alt"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <h4 class="text-left pt-1">Reset your search criteria</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="icon icon-blue icon-blue-md mt-3">
                                    <i class="fab fa-readme"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <h4 class="text-left pt-1">Have a browse through all of our recipes</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="icon icon-blue icon-blue-md mt-3">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                            <div class="col-9">
                                <h4 class="text-left pt-1">Or try searching for something else!</h4>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </section>
        </div>
    </div>
</div>
{% endblock %}
