{% set active_page = 'signup' %}
{% extends "base.html" %}
{% block content %}
    <!-- Hero Image -->
    <section class="container-fluid container-hero">
        <div class="hero-image">
            <span class="sr-only">Food image</span>
        </div>
        <div class="hero-image-overlay">
            <div id="hero-image-overlay-signup">
                <div class="row">
                    <div class="col">
                        <img id="logo-signup" src="static/images/logo-red-no-bg.png"/>
                    </div>
                </div>
                <form method="POST" action="{{ url_for('signup') }}">
                    <div class="form-row">
                        <div class="col-1"></div>
                        <div class="col">
                            <label for="input-username-signup"><h3 class="heading-light">Username</h3></label>
                            <input name="input-username-signup" type="text" class="form-control" id="input-username-signup" placeholder="username" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="form-row">
                        <div class="col-1"></div>
                        <div class="col">
                            <label for="input-password-signup"><h3 class="heading-light">Password</h3></label>
                            <input name="input-password-signup" type="password" class="form-control" id="input-password-signup" placeholder="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                        </div>
                        <div class="col-1"></div>
                    </div>
                    <div class="row mb-0">
                        <div class="col">
                            <button class="nav-item nav-btn nav-btn-red" type="submit">
                                Sign Up
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row mt-0">
                    <div class="col">
                        <h5 class="heading-light">Have an account?</h5>
                        <h5 class="heading-light">Log in <a class="heading-light underline" href="{{ url_for('login') }}">here</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
