{% extends "base.html" %}
{% block content %}
{% for recipe in recipes %}
    <header class="container-fluid pt-2">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">
                <hr class="hr-skinny">
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="uppercase">{{ recipe.recipe_name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6><em>{{ recipe.created_by }} on {{ recipe.date_added }}</em></h6>
            </div>
        </div>
        <div class="row m-0">
            <div class="col"></div>
            <div class="col-8">
                <hr class="hr-skinny">
            </div>
            <div class="col"></div>
        </div>
    </header>
    <section class="container-fluid">
        <div class="row m-0 pt-2 pb-2">
            <div class="col"></div>
            <div class="col-3">
                <label class="switch" for="is_favourite">
                    {% if recipe.is_favourite == "on" %}
                        <input type="checkbox" checked>
                    {% else %}
                        <input type="checkbox">
                    {% endif %}
                    <span class="on-off round"></span>
                </label>
            </div>
            <div class="col-8 text-left">
                <h4 class="mt-2">Favourite Recipe</h4>
            </div>
            <div class="col"></div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row m-0 pb-2">
            <div class="col-12">
                <div class="recipe-card">
                    <div class="recipe-card-overlay border-white">
                        <div class="row icon-row">
                            <div class="col text-left">
                                <div class="icon icon-blue">
                                    <i class="fas fa-utensils"></i>
                                </div>
                            </div>
                            <div class="col text-right">
                                <div class="icon icon-blue">
                                    <i class="fas fa-edit"></i>
                                </div>
                                <div class="icon icon-blue">
                                    <i class="fas fa-trash-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row m-0">
            <div class="col"></div>
            <div class="col-11 text-left">
                <h4>Serves: {{ recipe.serves }}</h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-11">
                <div class="slidecontainer">
                    <input type="range" min="1" max="8" value="{{ recipe.serves }}" class="slider" disabled>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-11 text-left">
                <h4>Cook Time: {{ recipe.cooking_time }} mins</h4>
            </div>
            <div class="col"></div>
        </div>
        <div class="row m-0 pb-2">
            <div class="col"></div>
            <div class="col-11">
                <div class="slidecontainer">
                    <input type="range" min="5" max="120" value="{{ recipe.cooking_time }}" class="slider" disabled>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row m-0">
            <div class="col">
                <div id="accordion">
                    <div class="card pb-2">
                        <div class="card-header" id="accordion-searchrecipe-ingredients">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-searchrecipe-ingredients" aria-expanded="false" aria-controls="collapse-searchrecipe-ingredients">
                                <h3>Ingredients <i class="fas fa-angle-down"></i></h3>
                            </button>
                        </div>
                        <div id="collapse-searchrecipe-ingredients" class="collapse" aria-labelledby="accordion-searchrecipe-ingredients" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="text-left mb-0">
                                    <li>{{ recipe.ingredients }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="accordion-searchrecipe-filters">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-searchrecipe-filters" aria-expanded="true" aria-controls="collapse-searchrecipe-filters">
                                <h3>Instructions <i class="fas fa-angle-down"></i></h3>
                            </button>
                        </div>
                        <div id="collapse-searchrecipe-filters" class="collapse" aria-labelledby="accordion-searchrecipe-filters" data-parent="#accordion">
                            <div class="card-body">
                                <div class="row m-0">
                                    <div class="col">
                                        <ol class="text-left mb-0">
                                            <li>{{ recipe.instructions }}</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        <div class="row mt-0 pt-2">
            <div class="col"></div>
            <div class="col-11 text-left">
                <h3>Top tips</h3>
                <h6>{{ recipe.tips }}</h6>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mb-0 pb-2">
            <div class="col"></div>
            <div class="col-11 text-left">
                <h3>Source</h3>
                <h6>{{ recipe.source }}</h6>
            </div>
            <div class="col"></div>
        </div>
    </section>
    {% endfor %}
{% endblock %}
