{% extends "base.html" %}
{% block content %}
    <!-- <section class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Recipe name</h2><br>
                <h2>My recipe toggle</h2><br>
                <h2>Fav recipe toggle</h2><br>
                <h2>Food image with icons</h2><br>
                <h2>Slider - serves</h2><br>
                <h2>Slider - cooking time</h2><br>
                <h2>Ingredients +</h2><br>
                <h2>Steps +</h2><br>
                <h2>Source</h2><br>
                <h2>Notes</h2><br>
            </div>
        </div>
    </section> -->
    <section>
        {% for recipe in recipes %}
            {{ recipe.recipe_name }}<br>
            {{ recipe.is_favourite }}<br>
            {{ recipe.serves }}<br>
            {{ recipe.cooking_time }}<br>
            {{ recipe.ingredients }}<br>
        {% endfor %}
    </section>
{% endblock %}
